{% if link.liked %}
    <div class="col-lg-8 liked" name="link">
{% else %}
    <div class="col-lg-8" name="link">
{% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% if link.url %}
            <a class="headerRow" href="links/{{link.id}}">
            {% endif %}
                {{link.title}}
            {% if link.url %}
            </a>
            {% endif %}
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editRowModal{{link.id}}">Edit</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-7">
                    <p>{{ link.resume | raw }}</p>
                </div>
                <div class="col-lg-1">
                </div>
                {% if link.imgUrl is defined%}
                <div class="col-lg-3 articleImg" style="background-image: url({{link.imgUrl}});">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="panel-footer">
            <ul class="nav navbar-top-links footerRow">
                <li>
                    <like-link data-id="{{ link.id }}" class="unlikeLink fa fa-heart-o fa-lg unlike" data-target="link"></like-link>
                    <unlike-link data-id="{{ link.id }}" class="likeLink fa fa-heart fa-lg like" data-target="link"></unlike-link>
                </li>
                <li>
                    <i class="fa fa-folder-o fa-lg"></i>
                </li>
                <li>
                    {% if link.archived %}
                        <restore-link data-id="{{ link.id }}" class="fa fa-upload fa-lg" data-target="link"></restore-link>
                    {% else %}
                        <archive-link data-id="{{ link.id }}" class="fa fa-archive fa-lg" data-target="link"></archive-link>
                    {% endif %}
                </li>
                <li>
                    <delete-link data-id="{{ link.id }}" class="deleteLink fa fa-trash-o fa-lg" data-target="link"></delete-link>
                </li>
            </ul>
        </div>
    </div>
    <div id="editRowModal{{link.id}}" class="modal fade" role="dialog">
        {% include "AppBundle:Common:_editRowModal.html.twig" with {'link' : link} only %}
    </div>
</div>